<!--views/frontend/home.ejs-->

<link rel="stylesheet" href="/styles/frontend/home.css" />
<script src="/scripts/navigate.js"></script>

<% if(data.latestClothes){ %>
<div class="Category">Latest arrival dresses</div>
<div class="Post Latest">
    <% for(let post of data.latestClothes){ %>
        <div class="thumb">
            <p class="title"><a href="/post/<%= post.key %>"><%= post.title %></a></p>
            <a class="wrapper" href="/post/<%= post.key %>">
                <img src="<%= post.thumb %>" />
                <% if(post.videos){ %>
                    <% if((post.videos !== "")&&(post.videos !== "[]")){ %>
                    <img class="play-icon" src="/images/play.png" />
                    <% } %>
                <% } %>
            </a>
            <p class="price">$<%= post.price %></p>
        </div>
    <% } %>
</div>
<div class="nav Latest-nav">
    <img onclick="navigate.getItems(-1,'Latest')" src="/images/left.png" />
    <img class="home" onclick="navigate.getItems(0,'Latest')" src="/images/home.png" />
    <img onclick="navigate.getItems(1,'Latest')" src="/images/right.png" />
</div>
<% } %>

<div class="front-ad">
    <img src="/images/donate-ad.jpg" />
    <img src="/images/donate-ad.jpg" />
</div>

<% if(data.womenClothes){ %>
<div class="Category women">Women dresses</div>
<div class="Post Women">
    <% for(let post of data.womenClothes){ %>
        <div class="thumb">
            <p class="title"><a href="/post/<%= post.key %>"><%= post.title %></a></p>
            <a class="wrapper" href="/post/<%= post.key %>">
                <img src="<%= post.thumb %>" />
                <% if(post.videos){ %>
                    <% if((post.videos !== "")&&(post.videos !== "[]")){ %>
                    <img class="play-icon" src="/images/play.png" />
                    <% } %>
                <% } %>
            </a>
            <p class="price">$<%= post.price %></p>
        </div>
    <% } %>
</div>
<div class="nav Women-nav">
    <img onclick="navigate.getItems(-1,'Women')" src="/images/left.png" />
    <img class="home" onclick="navigate.getItems(0,'Women')" src="/images/home.png" />
    <img onclick="navigate.getItems(1,'Women')" src="/images/right.png" />
</div>
<% } %>

<div class="front-ad">
    <img src="/images/donate-ad.jpg" />
    <img src="/images/donate-ad.jpg" />
</div>

<% if(data.menClothes){ %>
<div class="Category">Men dresses</div>
<div class="Post Men">
    <% for(let post of data.menClothes){ %>
        <div class="thumb">
            <p class="title"><a href="/post/<%= post.key %>"><%= post.title %></a></p>
            <a class="wrapper" href="/post/<%= post.key %>">
                <img src="<%= post.thumb %>" />
                <% if(post.videos){ %>
                    <% if((post.videos !== "")&&(post.videos !== "[]")){ %>
                    <img class="play-icon" src="/images/play.png" />
                    <% } %>
                <% } %>
            </a>
            <p class="price">$<%= post.price %></p>
        </div>
    <% } %>
</div>
<div class="nav Men-nav">
    <img onclick="navigate.getItems(-1,'Men')" src="/images/left.png" />
    <img class="home" onclick="navigate.getItems(0,'Men')" src="/images/home.png" />
    <img onclick="navigate.getItems(1,'Men')" src="/images/right.png" />
</div>
<% } %>

<div class="front-ad">
    <img src="/images/donate-ad.jpg" />
    <img src="/images/donate-ad.jpg" />
</div>

<% if(data.childrenClothes){ %>
<div class="Category">Children dresses</div>
<div class="Post Children">
    <% for(let post of data.childrenClothes){ %>
        <div class="thumb">
            <p class="title"><a href="/post/<%= post.key %>"><%= post.title %></a></p>
            <a class="wrapper" href="/post/<%= post.key %>">
                <img src="<%= post.thumb %>" />
                <% if(post.videos){ %>
                    <% if((post.videos !== "")&&(post.videos !== "[]")){ %>
                    <img class="play-icon" src="/images/play.png" />
                    <% } %>
                <% } %>
            </a>
            <p class="price">$<%= post.price %></p>
        </div>
    <% } %>
</div>
<div class="nav Children-nav">
    <img onclick="navigate.getItems(-1,'Children')" src="/images/left.png" />
    <img class="home" onclick="navigate.getItems(0,'Children')" src="/images/home.png" />
    <img onclick="navigate.getItems(1,'Children')" src="/images/right.png" />
</div>
<% } %>

<div class="front-ad">
    <img src="/images/donate-ad.jpg" />
    <img src="/images/donate-ad.jpg" />
</div>

<% if(data.shoes){ %>
<div class="Category">New arrival shoes</div>
<div class="Post Shoes">
    <% for(let post of data.shoes){ %>
        <div class="thumb">
            <p class="title"><a href="/post/<%= post.key %>"><%= post.title %></a></p>
            <a class="wrapper" href="/post/<%= post.key %>">
                <img src="<%= post.thumb %>" />
                <% if(post.videos){ %>
                    <% if((post.videos !== "")&&(post.videos !== "[]")){ %>
                    <img class="play-icon" src="/images/play.png" />
                    <% } %>
                <% } %>
            </a>
            <p class="price">$<%= post.price %></p>
        </div>
    <% } %>
</div>
<div class="nav Shoes-nav">
    <img onclick="navigate.getItems(-1,'Shoes')" src="/images/left.png" />
    <img class="home" onclick="navigate.getItems(0,'Shoes')" src="/images/home.png" />
    <img onclick="navigate.getItems(1,'Shoes')" src="/images/right.png" />
</div>
<% } %>